// _variables.scss

// 🎨 Glukoza
$color-glucose-1: #f94144; // jaśniejszy czerwony (pierwszy pomiar)
$color-glucose-2: #c1121f; // ciemniejszy czerwony (drugi pomiar)

// 🎨 Ciśnienie
$color-pressure-morning: #457b9d; // jaśniejszy niebieski (pierwszy pomiar)
$color-pressure-evening: #1d3557; // ciemniejszy niebieski (drugi pomiar)

// 🎨 Waga
$color-weight: #2a9d8f; // zielony (jeden pomiar)

// 🖤 Neutralne
$color-bg-light: #e0e0e0;
$color-bg: #cecece;
$color-text: #212529;
$color-border: #919191;

// 📏 Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// 🔠 Typografia
$font-base: "Inter", sans-serif;
$font-size-base: 16px;
$font-size-heading: 24px;

//kolory
$green-light: rgb(129, 246, 61);
$green: rgb(81, 155, 38);
